body {
    font-family: 'Source Code Pro', monospace;
	color: #fff;
	margin: 0;
    background-color: rgb(32, 32, 32);
	width: 100%;
}
header {	
	height: 100%;
}
h1 {
	font-size: 64px;
	font-weight: 300;
	line-height: 64px;
	margin-bottom: 0;
}
h2 {
   font-size: 16px;
   font-weight: 300;
   text-transform: uppercase;
}
h3 {
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
p {
	margin-bottom: 30px;
	line-height: 30px;
}
img {
	border: 0;
}

a:link, a:active,a:visited {
    color: #ddd;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #7b8bb0;
}

main {
	width: 70%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}
footer {
	color: #fff;
	position: relative;
	height: 65px;
	left: 0;
	bottom: 0;
	font-size: 14px;
	background-color: #00000098;
	width: 100%;
	padding: 15px;
	align-items: center;
}
.social {
	float: right;
}
.button {
	background-color: #4646467c;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;
}
nav {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

ul {
    font-size: 12.5px;
    line-height: 20px;
}
.darkness {
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #090f33;
    background-image: url(https://wallpaperaccess.com/full/1686786.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0;
	position: relative;
	animation: fadeSlide 5s ease-in-out forwards;
}
.container {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
	min-width: 320px;
}
.contato{
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	background-color: #f1f1f1;
	padding: 20px;
	box-shadow: 0 0 5px rgba(117, 0, 0, 0.1);
}
.contact-info {
	font-size: 16px;
  }
  .contact-info strong {
	font-weight: bold;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	margin-bottom: 10px;
}
form {
	width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 10px;
}

textarea {
      height: 100px;
	  margin-top: 20px;
}

input[type="submit"] {
      background-color: rgb(5, 5, 5);
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}

input[type="submit"]:hover {
      background-color: #ff0000;
}
.social-links {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
  
.social-links a {
	display: inline-block;
	margin: 0 10px;
	padding: 5px 10px;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
}
  
.social-links a:hover {
	background-color: #ff0000;
	color: #fff;
}
.box {
	margin-bottom: 20px;
	width: 100%;
	height: 500px;
	background-color: rgb(5, 5, 5);
	opacity: 0;
	position: relative;
	animation: fadeSlide 5s ease-in-out forwards;
 }
  @keyframes fadeSlide {
	0% {
	  opacity: 0;
	  transform: translateX(-100px);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
}
.dotted-line {
	border-top: 2px dotted #ffffff;
	margin: 20px 0;
  }
.tec-links{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.tec-links a {
	display: inline-block;
	margin: 0 10px;
	padding: 5px 10px;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
}
.tec-links a:hover {
	background-color: #ff0000;
	color: #fff;
}
.formacao{
	font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
}
.formation {
	margin-bottom: 20px;
}
  
.degree {
	font-weight: bold;
}
  
.institution {
	font-style: italic;
}
  
.year {
	float: right;
	color: #999;
}
.tlcontainer {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.tlcontainer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #090f33;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.tlleft {
    left: 0;
}

/* Place the container to the right */
.tlright {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.tlleft::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.tlright::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.tlright::after {
    left: -16px;
}

/* The actual content */
.tlcontent {
    padding: 20px 30px;
    background-color:rgb(5, 5, 5);
    position: relative;
    border-radius: 6px;
}

